\#*\#
*~
*.bak
*.o
*.a
/a.out
/src/github.com/h4ck3rm1k3/gocore/runtime/.#cgocallback.go
/src/github.com/h4ck3rm1k3/gocore/runtime/.#extern.go
/src/github.com/h4ck3rm1k3/gocore/runtime/strace.txt
/strace.txt
/unsafe_pointer.go
/unsafe_pointer2.go
/unsafe_pointer3.go
/src/github.com/h4ck3rm1k3/gocore/go/scanner/.#errors.go
/src/github.com/h4ck3rm1k3/gocore/go/token/.#position.go
/src/github.com/h4ck3rm1k3/gocore/net/.#lookup_unix.go
/src/github.com/h4ck3rm1k3/gocore/runtime/.#errors.txt
/src/github.com/h4ck3rm1k3/gocore/runtime/err.txt
/src/github.com/h4ck3rm1k3/gocore/runtime/errors.txt
/src/github.com/h4ck3rm1k3/gocore/runtime/out.txt
/src/github.com/h4ck3rm1k3/gocore/runtime/stop.txt
/src/github.com/h4ck3rm1k3/gocore/runtime/test.sh
/src/github.com/h4ck3rm1k3/gocore/runtime/test.txt
/src/github.com/h4ck3rm1k3/gocore/runtime/todo.txt
/test123.go
/test1234.go
/testcase.go
/error2.sh
/src/github.com/h4ck3rm1k3/gocore/cmd/cgo/.#main.go
/src/github.com/h4ck3rm1k3/gocore/os/.#file_unix.go
/src/github.com/h4ck3rm1k3/gocore/sync/atomic/.#doc.go
/.#Makefile.all
/.#todo.py
/todo.mak
/todo.txt
/unsafe
